[submodule "caml-mimic"]
	path = caml-mimic
	url = git@github.com:dmcguire81/caml-mimic.git
[submodule "Explainable-Automated-Medical-Coding"]
	path = Explainable-Automated-Medical-Coding
	url = git@github.com:dmcguire81/Explainable-Automated-Medical-Coding.git
